
  
section { 
    height: 500px;
    border: solid rgb(38, 4, 4) 1px;
}
   
header{
    margin-left: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;  
    padding-top: 30px;
}

.button{
    width: 200px;
    height: 40px;
    background-color: lightsalmon;
    border-radius: 15px;
    text-align: center;
    padding-top: 20px;
    font-size: 200;
}

.button:hover{
    background-color: coral;
}
.menubar {
    position:relative;
    display:grid;
    padding: 20px;
    margin: 5px;
    z-index: 2;  
}

ul {
    float:right;
    list-style-type: none;
    margin-top: -150px;
    transition: 0.6 ease-in-out;
}

ul li {
    display: inline-block;
}

ul li a{
    color:rgb(45, 103, 212);
    padding: 5px 20px;
    text-decoration: none;
    border: 1px solid rgb(20, 19, 19);
    margin-top: 2px;

}
 
a:hover{
    background-color: #8FBC8F;
    color:rgb(72, 27, 10);

}

.box1{
    background-color: skyblue;
    height: 100vh;

}

.box2{
    background-color: skyblue;

}

footer{
    height:150px;
    background-color: rgb(21, 20, 20);
}








